.shop-text-strike{
    text-decoration: line-through;
}
.shop-text-currency:before{
     content: "$ ";
}
.shop-checkbox{
    background-color: white;
    border-radius: 4px;
}
.shop-card{
    padding:5px;

    &>div{
        color: black;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
        padding: 7px;
        background-color: white;
        border: 1px solid #21456b;
        h6{
            font-weight: bold;
        }
        span[data-prop="cost"]:before{
            content: "$ "
        }
        span[data-prop="finalCost"]:before{
            content: "$ "
        }
    }
}